<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/register">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile">Profile</a>
  </li>
  <!--
  <li class="nav-item">
    <a class="nav-link" href="/">logout</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
  -->
</ul>

<router-outlet></router-outlet>
